.table{
    display: flex;
    justify-content: center;
}
table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: #e7e7e7;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
  }
  th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
  }
  td {
    border-bottom: 1px solid #ccc;
    color: rgb(31, 31, 47);
    padding: 9px 8px;
    transition: .3s linear;
  }
